.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  width: 100%;
}

.loginForm {
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.994);
  border-radius: 10px;
  width: 100%;
  padding: 1.5rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);

  @media (max-width: 576px) {
    padding: 1rem;
  }

  .loginButton {
    width: 100%;
  }

  .registerLink {
    margin-top: 1rem;
    text-align: center;
  }
}
