.shoppingBasket {
  padding: 20px;

  .checkoutLink {
    text-align: center;
    margin-top: 20px;
  }

  .totalPrice {
    text-align: right;
    padding: 20px;
  }

  .basketTable {
    margin-bottom: 20px;
    max-width: 1000px;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .basketTable {
    .ant-table-container {
      overflow-x: auto;
    }
  }
}
